@import '../../../theme';

.cell {
  &.cell {
    border: 1px solid $grey;
    color: $grey;
    cursor: pointer;
    font-size: 1.5em;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    width: 100%;
  }

  &.editable {
    color: $secondary;
    // font-family: 'Lemonada', cursive;
    // font-style: italic;
    font-weight: bold;
  }

  &.error {
    color: $error;
  }

  &.highlightPos {
    background-color: $highlight;
  }

  &.highlightNum {
    background-color: $highlight;
  }

  &.selected {
    background-color: $primary;
  }
}
