.share-content {
  ul {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;

    li {
      cursor: pointer;

      &.active {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
      }
    }
  }
}
