.clipboardButton {
  display: inline-block;
  height: 32px;
  width: 32px;
  font-size: 21px;
  // border: 1px solid #e5de5b;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  background-color: #e5de5b;
}

.shareButton {
  cursor: pointer;
}
