.main-content {
  &.main-content {
    margin: 0 1em;

    .main-title {
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0.2em;

      .top-buttons {
        flex-wrap: wrap;
      }
    }

    .game-container {
      flex-wrap: wrap;
      justify-content: center;

      .controls {
        margin-top: 1em;
        align-self: flex-end;
      }
    }

    .build-instructions {
      text-align: justify;
      margin: 0;
      padding: 1em;
    }
  }
}
