.help-modal-container {
  overflow-y: auto;
  max-height: calc(100vh - 2rem);

  .content {
    position: relative;
    padding: 1em;
    min-width: 300px;

    .close-button {
      position: absolute;
      right: 0;
      top: 0;
      background-color: transparent;
      color: black;

      &:hover {
        box-shadow: none;
      }
    }

    .long-help {
      p {
        margin-top: 0;
      }
    }
  }
}
