.new-game-container {
  button {
    background-color: transparent;
    color: #000000;
    height: auto;
    margin-bottom: 1em;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      opacity: 0.6;
    }

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      margin-right: 1em;
    }
  }

  .difficulty {
    margin-left: 0.5rem;
  }
}
