@import '../../theme.scss';

.game-list-container {
  color: $black;

  .preview {
    &.odd {
      order: 2;
    }

    .preview-grid {
      height: 90px;
      width: 90px;

      span {
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 100%;
        border: 1px solid $black;
      }
    }
  }

  .metadata {
    flex-basis: 60%;
    margin-left: 1em;

    &.odd {
      margin-left: 0;
      margin-right: 1em;
    }

    .resume {
      font-size: 16px;

      i {
        margin-right: 1rem;
        min-width: 16px;
      }
    }
  }

  .action-buttons {
    > * {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
