.load-game-modal-container {
  overflow-y: auto;

  .content {
    @media all and (min-width: 500px) {
      max-height: 90vh;
      width: 400px;
      padding: 0;
    }

    position: relative;
    padding: 1em;
    max-height: 100vh;
    min-height: 600px;
    width: 100vw;

    .close-button {
      position: absolute;
      right: 0;
      background-color: transparent;
      color: black;

      &:hover {
        box-shadow: none;
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}
