@import '../../../theme';

.guess {
  // background: repeating-linear-gradient(
  //   -45deg,
  //   #2196f3,
  //   #2196f3 10px,
  //   #465298 10px,
  //   #465298 20px
  // );
  font-style: italic;
}

.keyboard-btn {
  &.keyboard-btn {
    background-color: transparent;
    color: $black;
    padding: 0;
    font-size: 1.2em;

    &:hover {
      box-shadow: none;
    }
  }

  &.guess-switch {
    min-width: 127px;
  }
}
