.sudokuChooser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  h1 {
    font-family: 'Indie Flower', 'Roboto Slab', cursive;
    font-size: 3em;
    margin-top: 0.1em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movingBanner {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid black;
    color: red;
    text-align: center;
    background-color: rgba(179, 205, 209, 0.3);
  }
}
