.win-screen {
  position: relative;

  @media all and (min-width: 500px) {
    max-height: 90vh;
    width: 400px;
    padding: 0;

    .close-button {
      top: -.5em;
    }
  }

  padding: 1em;
  max-height: 100vh;
  min-height: auto;
  width: 100vw;

  .title {
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: -1em;
    right: 0;
    background-color: transparent;
    color: black;

    &:hover {
      box-shadow: none;
    }
  }
}
