@import '../../theme.scss';

.footer {
  &.footer {
    align-items: center;
    background-color: $primaryBG;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-around;
    line-height: 2em;
    min-height: 2em;
    padding: 1em;

    a {
      color: white;

      &:hover,
      &:visited {
        color: white;
      }
    }
  }

  .side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .links {
    @media all and (max-width: 520px) {
      display: none;
      height: 0;
      width: 0;
    }

    margin-right: 1rem;

    .link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
