@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-display: auto;
}
