// Coolors Exported Palette - coolors.co/6c464f-9e768f-9fa4c4-b3cdd1-c7f0bd
// RGB
$error: rgb(209, 43, 82);
$strong: rgba(158, 118, 143, 1);
$primary: rgba(199, 240, 189, 1);
$primaryBG: rgba(73, 125, 126, 1);
$secondaryBG: rgba(62, 147, 216, 0.4);
$secondary: rgba(62, 147, 216, 1);
$highlight: rgba(179, 205, 209, 0.3);
$grey: rgba(159, 164, 196, 1);

$black: rgba(0, 0, 0, 0.7);
