.game-resume-modal {
  &.game-resume-modal {
    button {
      background-color: transparent !important;
      color: blue;
      cursor: pointer;
      padding: 0;

      &:hover {
        box-shadow: none;
        text-decoration: underline;
      }
    }

    small {
      align-self: flex-start;
    }
  }
}
